{# app/Resources/views/taskList/taskList.html.twig #}

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}

<button type="submit">Add</button>
{{ form_end(form) }}